@model FlowerLove.Data.Models.Domain.tblProduct


<div class="container">

    @using (Html.BeginForm())
    {


        <div class="row">
            <div class="col-lg-6">
                <input type="hidden" name="id" value="@Model.ProID" />
                <img src="~/Uploads/@Model.Image" style="width:300px; height:250px; margin: 0px 50px 0px 200px" />
            </div>

            <div class="col-lg-6">
                <h3>@Model.Name</h3>

                <p>@Model.Description</p>
                <p>£. <strong>@Model.Unit</strong></p>
                <input type="number" min="1" max="10" name="qty" style="text-align:center" />
                <input type="submit" value="Add to Cart" class="btn btn-warning" />
            </div>

        </div>

    }
</div>

